<section class="main">
  <h1>Battleships</h1>
  <div class="fields">
    <app-battlefield [title]="battleFields.player.title" [isEnemy]="battleFields.player.isEnemy"
      [cells]="battleFields.player.cells"></app-battlefield>
    <app-battlefield [title]="battleFields.enemy.title" [isEnemy]="battleFields.enemy.isEnemy"
      [cells]="battleFields.enemy.cells" (fire)="playerFire($event)"></app-battlefield>
  </div>
  <div class="button__container">
    <button class="button" (click)="restart()">Restart</button>
  </div>
  <app-description (play)="restart()"></app-description>
</section>